
<h1>lol</h1>
<% if @candidate %>
<h1> <%= @candidate.name %> </h1>
<h1> <%= @candidate.age %> </h1>
<h1> <%= @candidate.party %> </h1>
<h1> <%= @candidate.politics %> </h1>
<% else %>
    No such person
<% end %>